body {
  margin: 0;
  background: #0f1115;
  color: #fff;
  font-family: Vazirmatn, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: #0b0d12;
}

.logo {
  font-size: 100px;
  font-weight: 1800;
  color: #f5c518;
}

#searchInput {
  width: 400px;
  height: 50px;
  font-size: x-large;
  padding: 10px 14px;
  background: #1c1f26;
  border: none;
  border-radius: 6px;
  color: #fff;
}

/* GRID */
.movie-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  gap: 18px;
}

.movie-card {
  background: #1a1d24;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s;
}

.movie-card:hover {
  transform: translateY(-4px);
}

.movie-card img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 14px;
  font-weight: bold;
}

.movie-meta {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.modal-content {
  background: #151821;
  width: 90%;
  max-width: 900px;
  border-radius: 12px;
  padding: 30px;
  position: relative;
}

.close {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 32px;
  cursor: pointer;
}

/* DETAIL */
.detail {
  display: flex;
  gap: 30px;
}

.detail img {
  width: 280px;
  border-radius: 10px;
}

.downloads a {
  display: block;
  margin-top: 10px;
  color: #f5c518;
  text-decoration: none;
}




.pagination {
  text-align: center;
  margin: 30px 0;
}

.page-btn {
  margin: 0 4px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.page-btn:hover {
  background: #f0f0f0;
}

.page-btn.active {
  background: #222;
  color: #fff;
  border-color: #222;
}

.dots {
  margin: 0 6px;
  color: #888;
}






.site-header {
  background: #0f0f0f;
  padding: 14px 20px;
  border-bottom: 1px solid #1f1f1f;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e50914;
}

.brand-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
}
